

<%# <div class="card">
  <div class="card-header">
    Coop event %>
    <%#= link_to "Delete", @coop_event, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  <%# </div>
  <div class="card-body"> %>
    <%= render @coop_event %>
  <%# </div>
  <div class="card-footer"> %>
    <%#= link_to "Edit", edit_coop_event_path(@coop_event), class: "btn btn-secondary btn-sm" %> 
    <%#= link_to "Back", coop_events_path, class: "btn btn-secondary btn-sm" %>
  <%# </div> %>

</div>