

<div class="card">
  <div class="card-header">
    <h1>Geo barangay</h1>
    <%= link_to "Delete", geo_barangay, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @geo_barangay %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_geo_barangay_path(@geo_barangay), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", geo_barangays_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>