

<div class="card">
  <div class="card-header">
    <h1>User</h1>
    <%= link_to "Delete", @user, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @user %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", users_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>