<div class="card mb-3">
  <div class="card-header">
    <h2>Registration Guidelines</h2>
  </div>
  <div class="card-body">
    <ol>
      <li>Registration opens this Thursday, June 01, 2023.</li>
      <li>Free: one (1) principal delegate and one (1) young coop leader.</li>
      <ul>
        <li><strong>Principal Delegate</strong> - Any representative endorsed by the cooperative and supported by a Board Resolution; has the right to vote in the Annual General Assembly.</li>
        <li><strong>Young Coop Leader</strong> - Any representative endorsed by the cooperative but must be 35 years old and below.</li>
      </ul>
      <li>Accompanying Delegate - Any delegate in excess of the first two(2) representatives.</li>
      <dl class="row">
        <dd>The following is the cost of accompanying delegates:</dd>
        <dd class="col-sm-6">Register from June until August 2023</dd>
        <dt class="col-sm-3"> Php 7,000.00</dt>
        <dd class="col-sm-6">Register from September until December 2023</dd>
        <dt class="col-sm-3"> Php 9,000.00</dt>
        <dd class="col-sm-6">Register from January until February 2024</dd>
        <dt class="col-sm-3"> Php 11,000.00</dt>
        <dd class="col-sm-6">Register from March until April 2024</dd>
        <dt class="col-sm-3"> Php 13,000.00</dt>
        Above rates are inclusive of 2-day event with AGA kit
      </dl>
      <li>First 100 individuals to register will receive 1CISP 50th AGA merchandise.</li>
    </ol>
    To assist you on your registration, please click this video <%= link_to "How to register", how_to_vote_registrations_path, class: "btn btn-warning btn-sm", data: { turbo_frame: "remote_modal" } %>
  </div>
</div>