<table class="table table-borderless table-hover">
  <thead>
    <tr class="border-top border-bottom border-primary">
      <%# <th class="text-primary"></th> %>
      <th class="text-primary">Name</th>
      <th class="text-primary">Type</th>
      <%# <th class="text-primary">Price</th> %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @event_hub.registrations.each do |reg| %>
      <tr>
        <%# <th scope="row">= claim_document.id</th> %>
        <td><%= reg.get_fullname %></td>
        <td><%= reg.guest_type %></td>
      
        <td>
         
          <%#= link_to 'Edit', edit_claim_document_path(claim_document), class: 'btn btn-secondary btn-sm' %>
          <%#= link_to "Delete", claim_document, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          <%= link_to '<i class="bi bi-eyeglasses"></i>'.html_safe, registration_path(reg), class: 'btn btn-secondary btn-sm', data: { turbo_frame: "remote_modal" }  %>
          <%#= link_to '<i class="bi bi-pencil-square"></i> Edit'.html_safe, registration_edit_modal_path(reg.id), class: 'btn btn-outline-primary btn-sm', data: { turbo_frame: "remote_modal" } %>
          <%#= link_to '<i class="bi bi-trash3"></i>'.html_safe, reg, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
