
<%# <div class="card">
  <div class="card-header">
  <h5>Registration</h5>
  
  </div>

  <div class="card-body"> %>
    <%#= render "form", registration: @registration %>
  <%# </div>
</div> %>
<%= render "remote_modal", title: "Registration" do %>
      <%#= render "form_modal", registration: @registration %>
      <%= render "form", url: registrations_path(v: @event_hub), meth: 'post' %>
<% end %>