<div class="text-center mb-3">
<%#= image_tag 'rise_head.jpg', width: 1200 %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render "form_modal", registration: @registration %>
  </div>
</div>
   