
<div class="mt-5">
<div class="container justify-content-center align-items-center vh-100">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag '51_card.png', class: "img-fluid rounded-start" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <%= render 'registration_guidelines' %>
          <strong>Registration</strong> <hr>
          <%= render "form_modal", registration: @registration %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
