<%= render "remote_modal", title: "T-shirt Size" do %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">XS</th>
                <th scope="col">Small</th>
                <th scope="col">Medium</th>
                <th scope="col">Large</th>
                <th scope="col">XL</th>
                <th scope="col">XXL</th>
            </tr>
        </thead>
            <tr>
                <th scope="row">Width</th>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20 1/2</td>
                <td>21 1/2</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">Heigth</th>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>29 1/2</td>
                <td>30</td>
            </tr>
        <tbody>
        </tbody>
    </table>
<% end %>