<div id="<%= dom_id referendum_response %>">
  <p>
    <strong>Event hub:</strong>
    <%= referendum_response.event_hub_id %>
  </p>

  <p>
    <strong>Referendum:</strong>
    <%= referendum_response.referendum_id %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= referendum_response.response %>
  </p>

</div>
