<div class="card">
  <div class="card-header">
  <h5 >Edit referendum response</h5>
  
  </div>

  <div class="card-body">
    <%= render "form", referendum_response: @referendum_response %>
  </div>
</div>