<% # <h1>Register#register_created</h1> %>
<%= image_tag attachments["cooptech_email.png"].url, alt: "My Photo", width: 500, class: "photos" %>
<div class="content-letter">
  <p>Dear <%= @name %>,</p>
  <p>Cooperative Greetings from One Coop Tech!</p>
  <p>We’re pleased to confirm your registration for the 4th Annual General Assembly of <strong>One Cooperative Technology Service (OCTS)</strong> happening on <strong>June 30, 2025, 9:00AM-12:00NN</strong>. The event will take place at the 1CISP Multi-Purpose Hall, No. 11 Mapagbigay corner Maunlad Streets, Brgy. Pinyahan, Quezon City, and will also be accessible via Zoom.</p>

  <% # <%= content_tag :p, '(49th) Annual General Assembly Meeting and Election on April 15, 2023, Saturday at 9:00 A.M. The meeting will be held at Novotel Manila, Araneta City, General Aguinaldo Ave, Cubao, Quezon City, Metro Manila; and via Zoom (Meeting ID: 857 1289 6787) ' %>
  <% if @guest_type == "Principal Delegate" %>
    <p>
      Your voter's code is <strong> <%= @voter %> </strong> , which will grant you access to cast your votes during this important assembly.
    </p>
  <% end %>
  <p>Should you need assistance or additional information, feel free to contact us at <strong>info@onecoop.tech</strong> or <strong>0917-813-9114</strong>. For specific concerns, you may also reach out to <strong>Ms. Marin Crisolo</strong> or <strong>Ms. Vianca Quinesio</strong>, who will be happy to assist you.</p>
  <p>We look forward to your participation in making this event both meaningful and memorable. Your presence and voice play a vital role in shaping the future of our cooperative community.</p>
  <p>See you at the 4th Annual General Assembly!</p>

  <p>Warm regards,</p>
  <p>The One Coop Tech Team</p>
</div>
