<%# <h1>Register#register_created</h1> %>
<%= image_tag attachments['emailcooptech.png'].url, alt: 'My Photo',width: 500, class: 'photos' %>
<div class="content-letter">
  <p>Dear <%= @name %>,</p>

  <p>We are pleased to confirm your registration for the upcoming 2nd Annual General Assembly of One Cooperative Technology Services, which will be held on July 8, 2023 at No. 11 Mapabigay cor Maunlad Sts., Pinyahan, Diliman, Quezon City and via Videoconference through Zoom application. We appreciate your interest in this event and are excited to have you join us.</p>
  <% if @guest_type == "Principal Delegate" %>
    <strong>
      Your voter's code is <strong> <%= @voter %> </strong>
    </strong>
  <%end%>
  <% if @registration.attendance == "I will attend physically in the venue" %>
    <p>Please note that this email serves as your official confirmation for the event. We kindly request you to arrive at the venue on time to ensure a smooth registration process.</p>
  <% else %>
    <p>Here are the details of your registration:</p>
    <p>Topic: One Coop Tech 2nd General Assembly<br>Time: Jul 8, 2023 09:00 AM</p>
    <p>Join Zoom Meeting: <br> https://us02web.zoom.us/j/85943808738?pwd=MlIzOXk4TmE5MmhVa09NQmFWYXNFdz09</p>
    <p>Meeting ID: 859 4380 8738 <br>Passcode: OCTS</p>
    <p>Please note that this email serves as your official confirmation for the event. We kindly request you enter the zoom meeting on time to ensure a smooth registration process. Kindly use the following format as your zoom name COOP - Name/Position (e.g. OCTS - Harold/CMO)</p>
    <%# <p>You have successfully registered for the 50th annual general assembly; We are excited to have you join us for this event. This email serves as a confirmation of your registration, please present this confirmation at the event.</p> %>
  <% end %>
  <%# <%= content_tag :p, '(49th) Annual General Assembly Meeting and Election on April 15, 2023, Saturday at 9:00 A.M. The meeting will be held at Novotel Manila, Araneta City, General Aguinaldo Ave, Cubao, Quezon City, Metro Manila; and via Zoom (Meeting ID: 857 1289 6787) ' %>

  <p>If you have any questions or require further information, please do not hesitate to contact our GA organizing team at management@onecooptech.org or call us at (02) 8566 2700 or 0927 142 4516. You may look for Mr. Harold Kim Maggay or Ms. Wendy Nual. We will be more than happy to assist you.</p>
  <p>We look forward to your presence at the event and hope you have a wonderful and enriching experience. See you in our 2nd Annual General Assembly.</p>
  <br>
  <% if @registration.award %>
    <%# <hr> %>
    <%# <em>Congratulations! You are one of the first 100 registrants for 1CISP’s 50th Annual General Assembly. You may claim the limited edition merchandise at the AGA Kit Area on April 12, 2024 between 7:00 am to 5:00 pm. You must present this confirmation letter to be able to claim the prize.</em> %>
  <% end %>
</div>
