<% # <h1>Register#register_created</h1> %>
<%= image_tag attachments["chmf_email.jpg"].url, alt: "My Photo", width: 500, class: "photos" %>
<div class="content-letter">
  <p>Dear <%= @name %>,</p>
  <p>Thank you for confirming your attendance at our upcoming 10th Annual General Assembly. We are delighted to have you on this important event.</p>
  <p>We will share the highlights of our 2024 activities, our financial status, and the future direction of our cooperative. As we look forward, we are eager to strengthen social bonds with partners and providers beyond boundaries.</p>
  <% if @guest_type == "Accompanying Delegate" %>
    <p>For your convenience, you may send your payment through this bank account; REGISTRATION FEE: PHP 2,800.00 METROPOLITAN BANK & TRUST COMPANY</p>
    <strong>Account Name: Cooperative Health Management Federation</strong>
    <strong>Account Number: 232-7232523898</strong>
    <p>After payment has been made, kindly send us your proof of payment to below e-mail addresses per area by using this format as a subject: [REGISTRATION FEE_COOP NAME_DELEGATE NAME]. Please take note that we will not be able to verify your registration if no proof of payment will be sent to us.</p>
    <ul>
      <li>LUZON: Ms. Carmela Gelilio at 0908-8833846 & thru e-mail address: luzonarea@chmf.coop</li>
      <li>VISAYAS: Ms. Ronalyn Pionela at 0917-7091825 & thru e-mail address: visayasarea@chmf.coop</li>
      <li>MINDANAO (Regions 9,10 & 13) at Ms. Leslie Ayud at 0917-7047480 & thru e-mail address: mindanaoarea@chmf.coop</li>
      <li>MINDANAO (Regions 11 & 12) at Mr. Leo Allan Rebosura at 0917-3191919 &amp; thru e-mail address: davao@chmf.coop</li>
    </ul>
  <% end %>
  <% # <%= content_tag :p, '(49th) Annual General Assembly Meeting and Election on April 15, 2023, Saturday at 9:00 A.M. The meeting will be held at Novotel Manila, Araneta City, General Aguinaldo Ave, Cubao, Quezon City, Metro Manila; and via Zoom (Meeting ID: 857 1289 6787) ' %>
  <% if @guest_type == "Principal Delegate" %>
    <strong>
      This email serves as your confirmation as the Official Voter's Representative and your voter's code is <strong> <%= @voter %> </strong>.
    </strong>
    <p>Should you need more information and assistance, you may reach us through</p>
    <ul>
      <li>Ms. Angel Rodhaille Fijer at 0916-656-6162</li>
      <li>Mr. Ermani Antonio at 0929-203-9341 or e-mail us at chmfga@gmail.com.</li>
    </ul>
  <% end %>
  <p>We are thrilled to extend a warm welcome and create unforgettable memories during our 10th Annual General Assembly! See you there!</p>
  
</div>
