<%# <h1>Register#register_created</h1> %>
<%= image_tag attachments['chmf_email.png'].url, alt: 'My Photo',width: 500, class: 'photos' %>
<div class="content-letter">
  <p>Dear <%= @name %>,</p>
  <p>Thank you for registering to our 9th Annual General Assembly meeting on 07 June 2024, Friday at 0800H-1200H. We are delighted to extend to you a heartfelt invitation as we also celebrate a decade of unwavering dedication to cooperative healthcare. As we look forward, we are eager to strengthen social bonds with partners and providers beyond bounderies.</p>
  <%# <%= content_tag :p, '(49th) Annual General Assembly Meeting and Election on April 15, 2023, Saturday at 9:00 A.M. The meeting will be held at Novotel Manila, Araneta City, General Aguinaldo Ave, Cubao, Quezon City, Metro Manila; and via Zoom (Meeting ID: 857 1289 6787) ' %>
  <% if @guest_type == "Accompanying Delegate" %>
    <p>For your convenience, you may send your payment through this bank account;</p>
    <p>REGISTRATION FEE: PHP 2,800.00</p>
    <p>METROPOLITAN BANK & TRUST COMPANY</p>
    <P>Account Name: Cooperative Health Management Federation</P>
    <p>Account Number: 232-7232523898</p>
    <p>Contact No.: (02) 924-6930</p>
    <p>After payment has beed made, kindly email your proof of payment to 9thaga.1coophealth@gmail.com by using this format as a subject [REGISTRATION FEE_COOP NAME_DELEGATE NAME]. Please take note that we will not be able to verify your registraion if no proof of payment will be emailed to us.</p>
    <p>Should you need more information and assistance about the event, you may reach us through Mr. Marlong Agtang & Ms. Michelle Daniel at +63-977-829-1760 / +63-917-623-8716 or email us at 9thaga.1coophealth@gmail.com.</p>
  <% else %>
    <p>This email serves as your confirmation as the Official voters' representative.</p>
     <strong>
      Your voter's code is <strong> <%= @voter %> </strong>
    </strong>
    <p>Should you need more information and assistance about the event, you may reach us through Ms. Angel Rodhaille Fijer/Mr. Ermani Antonio at 0916-656-6162 / 0929-203-9341 or email us at 9thaga.1coophealth@gmail.com.</p>
  <%end%>
  <p>We are thrilled to extend a warm welcome and create unforgettable memories during our 9th Annual General Assembly! See you there!</p>
</div>
