<%# <h1>Register#register_created</h1> %>
<%= image_tag attachments['51st_email.png'].url, alt: 'My Photo',width: 500, class: 'photos' %>
<div class="content-letter">
  <p>Dear <%= @name %>,</p>
  <p>Co-operative greetings from 1CISP!</p>
  <p>Thank you for registering to our 51st Annual General Assembly scheduled on <strong>April 12, 2025</strong>. The event will be held at the <strong>Grand Xing Imperial Hotel, located at H. Montinol Corner Muelle Loney St., Brgy. President Roxas, Iloilo City</strong>. Please be sure you've got the date blocked on your calendar to join us.</p>
  <%# <%= content_tag :p, '(49th) Annual General Assembly Meeting and Election on April 15, 2023, Saturday at 9:00 A.M. The meeting will be held at Novotel Manila, Araneta City, General Aguinaldo Ave, Cubao, Quezon City, Metro Manila; and via Zoom (Meeting ID: 857 1289 6787) ' %>
  <% if @guest_type == "Accompanying Delegate" %>
    <p>For your convenience, you may send your payment through this bank account;</p>
    <p>REGISTRATION FEE: PHP 2,500.00</p>
    <p>Bank Name: Metrobank <br>Account Name: 1CISP <br>Account Number: 232-3-23250315-8</p>
    <p>After payment has been made, kindly email your proof of payment to agam@1cisp.coop by using this format as a subject (REGISTRATION FEE_COOP NAME_DELEGATE NAME). Please take note that we will not be able to verify your registration if no proof of payment will be emailed to us.</p>
  <% else %>
    <% if @guest_type == "Principal Delegate" %>
      <p>Please take note and be reminded of your voter's code <strong><%= @voter %></strong>.</p>
    <%end%>
  <%end%>
  <p>If you have any questions or require further information about the event, please feel free to contact our event support team at agam@1cisp.coop or call us at (02) 8556-27-00 loc. 60 and/or 32, (0917) 835-4774. You may look for Mr. Fit'z Gerald Q. Dela Cruz or Ms. Pauline Maglonzo. We will be happy to assist you with your registration concerns.</p>
  <p>We look forward in welcoming you and creating a memorable experience. See you in our 51st Annual General Assembly!</p>
</div>
