<div class="top-content">
  <div class="container my-5">
    <div class="text-center">
      <div class="mb-4">
        <h1 class="text-primary mb-4">Announcements</h1>
        <div class="row">
          <div class="col-md-6">
            <%= image_tag 'registration.png', height: 500 %>
          </div>
          <div class="col-md-6">
            <%= image_tag 'announcement 2.png', height: 500 %>
          </div>
        </div>
      </div>
      <h1 class="text-primary mb-4">Videos</h1>
      <div class="row">
        <div class="col-md-6">
          <iframe src="https://player.vimeo.com/video/830476998?h=cfd0c7934e&loop=1&byline=0&portrait=0" width="600" height="338" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <p>Invitation Video for the 50th Annual General Assembly</p>
        </div>
        <div class="col-md-6">
          <iframe src="https://player.vimeo.com/video/831725842?h=5d70f7cf9e&loop=1&byline=0&portrait=0" width="600" height="338" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <p>50th Annual General Assembly Teaser</p>
        </div>
      </div>
      <iframe src="https://player.vimeo.com/video/831110770?h=7d457a22ef&loop=1&byline=0&portrait=0" width="600" height="338" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      <p>Young Leaders Teaser Video</p>
    </div>
  </div>
</div>
