<div class="card text-bg-dark">
  <%= image_tag 'coming_soon.png', class: 'card-img' %>
  <div class="card-img-overlay">
    <h5 class="card-title">Coming Soon</h5>
    <p class="card-text">We will keep you posted for further updates.</p>
    <%# <p class="card-text"><small>Last updated 3 mins ago</small></p> %>
  </div>
</div>
