<%# <div class="header"> %>
  <!--Content before waves-->
  <div class="inner-header2 flex">
    <!--Just the logo.. Don't mind this-->
    <%# <div class="container"> %>
      <br>
      <%= render '/coop_events/home' %>
    <%# </div> %>
  </div>
  <!--Waves Container-->
  <%# <%= render 'pages/wave' %> %>
  <!--Waves end-->
<%# </div> %>
<%# <div class="container">
  <div class="jumbotron">
    <video id="video-background" preload="" muted="" autoplay="" loop="">
      <%# <source src="https://drive.google.com/file/d/1kjhyIsfyJcDW3X8sbpJJSuq1g2bpCgeI/view?usp=share_link" type="video/mp4"> %>
<%# <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
     <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
     </video> %>
<%#= image_tag '50logo.png', width: 300, class: 'mb-2 mb-lg-0 me-2 center' %>
<%#= image_tag '50logo.png', width: 300, class: 'mb-2 mb-lg-0 me-2 center' %>
<%# </div>
</div> %>
