<%# <div class="header"> %>
<!--Content before waves-->
<div class="inner-header flex">
  <!--Just the logo.. Don't mind this-->
  <div class="container">
    <br>
    <%= render '/coop_events/home', coop_events: @coop_events %>
  </div>
  <!--Waves Container-->
  <%= render 'pages/wave' %>
  <!--Waves end-->
</div>
<%# <div class="container">
  <div class="jumbotron">
    <video id="video-background" preload="" muted="" autoplay="" loop="">
      <%# <source src="https://drive.google.com/file/d/1kjhyIsfyJcDW3X8sbpJJSuq1g2bpCgeI/view?usp=share_link" type="video/mp4"> %>
<%# <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
     <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
     </video> %>
<%#= image_tag '50logo.png', width: 300, class: 'mb-2 mb-lg-0 me-2 center' %>
<%#= image_tag '50logo.png', width: 300, class: 'mb-2 mb-lg-0 me-2 center' %>
<%# </div>
</div> %>

  <%#= image_tag 'speaker_home.png', class: 'w-100' %>
    
      <%# <div class="col-md-6"> %>
        <%# <iframe src="https://player.vimeo.com/video/896736088?h=f540936530&loop=1&byline=0&portrait=0" width="600" height="338" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> %>
        <%# <iframe src="https://player.vimeo.com/video/930968584?h=75ac75121d" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> %>
        <%#= image_tag 'announcement_dec30.png', height: 500 %>
      <%# </div> %>
      <%# <div class="col-md-6"> %>
        <%# <%= image_tag 'elect_guide.png', height: 500 %> 
        <%# <p><a href="https://drive.google.com/file/d/1lGqAfvpzVO1YUrGXEga9oeFpX-6ktyFD/view?usp=sharing">Click here</a> for more details</p> %>
      <%# </div> %>
    
  <%# </div> %>
</div>
<%= render 'layouts/footer'  %>
