
<div class="img-container">
    <%= image_tag '51_ga.png', class: "img-header" %>
</div>
<div class="text-center">
    <h4>RISE: Reflect, Inspire, Secure, Empower - Rooted in Tradition, Rising with Vision.</h4>
    <br>
</div>
<div class="image-boxes">
    <div class="image-box">
        <%= image_tag 'img_box_1.png' %>
    </div>
    <div class="image-box">
        <%= image_tag 'img_box_2.png' %>
    </div>
    <div class="image-box">
        <%= image_tag 'img_box_3.png' %>
    </div>
   
</div>

<section class="py-5 text-center bg-light mt-5">
    <div class="row py-lg-5">
        <div class="col-lg-8 col-md-8 mx-auto">
            <h3 class="fw-light">Cooperative Greetings!</h3>
            <p class="lead justify-text">In 2025, the 1 Cooperative Insurance System of the Philippines Life and General Insurance (1CISP) will be celebrating its 51st Annual General Assembly Meeting, with the theme: "RISE: Reflect, Inspire, Secure, Empower - Rooted in Tradition, Rising with Vision." In light of this, we are delighted to invite you to join us in celebrating this momentous occasion, which will take place on April 12, 2025, at the Grand Xing Imperial Hotel in Iloilo City.</p>
            <p class="lead justify-text">Further details about the agenda, registration process, and other event-related information will be shared with you in the coming weeks. In the meantime, we kindly ask that you mark your calendars for this important event.</p>
            <p class="lead justify-text">Thank you for your continued support. We are excited to welcome you to Iloilo City in April 2025!</p>
            <p>For the Board of Directors and Management,</p>
            <p>ROY S. MICLAT <br>President/CEO</p>
        </div>
    </div>
</section>

<section class="py-5 text-center container">
    
        <iframe src="https://player.vimeo.com/video/1042209202?h=e7b004f651&byline=0&portrait=0" width="600" height="338" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    
</section>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <h1 class="text-primary"><strong>A PROSPEROUS PHILIPPINES</strong></h1>
        <h1 class="text-primary"><strong>IS A COOPERATIVE PHILIPPINES</strong></h1>
    </div>
  </section>