<div class="top-content">
    <div class="container my-5">
        <div class="text-center">
        <%= content_tag :h4, 'DAY 1', class:'text-primary' %>
        <%= content_tag :h4, 'April 12, 2024', class:'text-primary' %>
            
            <%= image_tag 'program_day1.png' %>
        </div>
    </div>
</div>