
<div class="container">
  <br>
  <div class="card">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <%= render "registrations/form", registration: @registration %>
    </div>
  </div>
</div>
