<div id="<%= dom_id elect_position %>">
  <p>
    <strong>Coop event:</strong>
    <%= elect_position.coop_event_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= elect_position.name %>
  </p>

  <p>
    <strong>Vacant:</strong>
    <%= elect_position.vacant %>
  </p>

</div>
