<div class="header">
  <!--Content before waves-->
  <div class="inner-header2 flex">
    <!--Just the logo.. Don't mind this-->
    <% @current_event = CoopEvent.find_by(active: 1) %>
    <h3 class="text-light"> <%= @current_event %></h3>
  </div>
  <!--Waves Container-->
  <%= render 'pages/wave' %>
  <!--Waves end-->
</div>