<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      p, a {
      font-family: Arial;
      }
      h1 {
      color: maroon;
      font-family: Helvetica;
      }
      .center {
        border-style: solid;
        border-width: 1px;
        width:500px;
      }
      .content-letter {
       margin: 10px;
      }
      .footer {
        background-color: #FF9D3D;
        height: 50px;
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%# <div style="text-align:center"> %>
    <div class="center">
      
        <%= yield %>
      <div class="footer">
        <br>
        <a href="https://www.onecoop.tech" target="_blank" style="color:white;">www.onecoop.tech</a>
      </div>
    </div >
  </body>
</html>
