<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      p, a {
      font-family: Arial;
      }
      h1 {
      color: maroon;
      font-family: Helvetica;
      }
      .center {
        border-style: solid;
        border-width: 1px;
        width:500px;
      }
      .content-letter {
       margin: 10px;
      }
      .footer {
        background-color: #E3E3E3;
        height: 50px;
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%# <div style="text-align:center"> %>
    <div class="center">
      
        <%= yield %>
      <div class="footer">
        <br>
        <%# <a href="https://www.chmf.coop" target="_blank" style="color:white;">www.1cisp.coop</a> %>
        <a href="https://www.chmf.coop" target="_blank">www.chmf.coop</a>
      </div>
    </div >
  </body>
</html>
